:host{
  display: block;
  // padding-top: 20px;
}

.movie-list {
  margin: 0 5px;
  flex: 1;
  border-radius: 4px;
}

.create-btn {
  margin: 20px 20px 30px auto;
  display: block;
}

.list-group{
  overflow: auto;
  margin-top: 20px;
}
